body{
    background-color: rgb(243, 243, 193);;
}
.input{
    margin-top: 15px;
}
.info{
    width: 100%;
    align-items: center;
    margin-top: 20px;
}
input{
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
h3, h4{
    text-align: center;
    font-family: cursive;
}
h4{
    margin-top: 10px;
}
button{
    border-radius: 15px;
    background-color: #0dcaf0;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.mode{
    width: 400px;
    margin-left: 35%;
}
.mod{
    height: 300px;
}
.myim{
    height: 80%;
    width: 100%;
}
.bdy{
    padding: 0%;
}
.mab{
    margin-top: 100px;
}
#Percentage{
    text-align: center;
    font-size: 60px;
    color: green;
}
#message1, #message2{
    text-align: center;
    font-size: 16px;
    text-decoration: solid;
    font-family: cursive;
    color: black;
}
.cancel{
    margin-left: 8px;
}
.love{
    margin-left: 30%;
    width: 200px;
}
